
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    color: white;
    font-family: sans-serif;
}

/************* HEADER **************/
header {
    background-color: rgb(128, 188, 236);
    display: flex;
    font-size:2em;
    padding: 1rem;
    justify-content: center;
}
    
.box1{
    background-color: rgb(223, 158, 97);
    width: 15%;
    border: Dashed black
}

.box2{
    background-color: rgb(223, 158, 97);
    width: 50%;
    text-align: center;
    border: Dashed black
}

.box1{
    background-color: rgb(223, 158, 97);
    height: fit-content;
    width: 15%;
    border: Dashed black
    
}

/********FLEX-CONTAINER*********/

.flex-container{
    background-color: rgb(38, 4, 189);
    display: flex;
    font-size:2em;
    padding: 6rem;
    display: flex;
    justify-content: center;
}

nav {
    background-color: violet;
    width:50%;
    min-height: 15rem;
    text-align: center;
    border: Dashed black
}


/********Main********/


.main{
    background-color: white;
    display: flex;
    font-size:2em;
    padding: 15rem;
    display: flex;
    justify-content: space-around;

}

.big-box{
    background-color: rgb(14, 170, 197);
    width:80%;
    min-height: 25rem;
    text-align: center;
    border: Dashed black
}


.small-box{
    background-color: rgb(138, 74, 175);
    width:50%;
    min-height: 15rem;
    text-align: center;
    border: Dashed black

}

/******Main-Center*****/


.main-center{
    background-color: gray;
    display: flex;
    font-size:2em;
    padding: 15rem;
    display: flex;
    justify-content: space-around;
}




.piccolo-box{
    background-color: rgb(138, 74, 175);
    width:50%;
    min-height: 15rem;
    text-align: center;
    border: Dashed black
}



.grande-box{
    background-color: rgb(14, 170, 197);
    width:80%;
    min-height: 25rem;
    text-align: center;
    border: Dashed black
}


/*******Main-end*****/

.main-end{
    background-color: rgb(8, 119, 32);
    display: flex;
    font-size:2em;
    padding: 35rem;
    display: flex;
    justify-content: space-around;
}



.row:nth-child(even){
    background-color: lightgray;
}



/******Prima parte bassa*******/
.main-end-end{
    background-color:black;
    display:flex;
    font-size:2em;
    padding: 15rem;
    display: flex;
    justify-content: space-around;
}

#links{
    min-height: 200px;
    width: 60%;
    justify-content: center;
    margin: 0px auto;

}

.chest{
    background-color: rgb(16, 190, 176);
    width:50%;
    min-height: 25rem;
    text-align: center;
    border: Dashed white
    
    
}

.chest:nth-child(1){
    background-color: rgb(197, 49, 226);
    width:80%;
    min-height: 15rem;
    text-align: center;
    border: Dashed white

}


/*Seconda parte footer*/


footer{
    background-color: rgb(16, 190, 176);
    display: flex;
    font-size:2em;
    justify-content: space-between;
    padding: 1rem;
}

.chest-end{
    background-color: rgb(197, 49, 226);
    height: fit-content;
    width: 15%;
    border: Dashed black
}


.chest-first{
    background-color: rgb(197, 49, 226);
    height: fit-content;
    width: 15%;
    border: Dashed black
}


















































